$colors: (
    neutral: (
        100: white,
        200: #F8F8F8,
        400: #5C5C5C,
        900: #212121,
    ),
    primary: (
        100: lightblue,
        400: blue,
        900: darkblue
    ),
);